body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: linear-gradient(
    109.6deg,
    rgb(204, 228, 247) 11.2%,
    rgb(237, 246, 250) 100.2%
  );
}

.searchbar {
  margin: 30px;
}

.weather-icon {
  display: block;
  font-size: 80px;
  padding: 15px 0px;
}

.sunny {
  color: #fcf268;
}

.rainy {
  color: #ccd6dc;
}

.middle {
  max-width: 80%;
  padding: 30px 50px;
  background-color: white;
  border-radius: 25px;
  border: #e2d1c3;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
}

.date-design {
  margin-bottom: 0%;
}

.location-link {
  display: block;
  margin-top: 0%;
  padding: 1px 30px;
}

.github {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #b9bbbc;
  margin-top: 30px;
}

.description {
  text-transform: capitalize;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  color: black;
}

.weather-forecast {
  font-size: 14px;
  color: black;
  margin-top: 50px;
  text-align: center;
}

.forcast-temp-low {
  color: #9c9c9c;
}
